@charset "UTF-8";

html {
    height: 100%;
}

body {
    background: linear-gradient(#2F6AC3 0%, #F2E05B 100%);
    background-size: cover;
    width: 50%;
    /* 幅指定 */
    height: 50%;
    /* 高さ指定 */
    margin: 0 auto;
    /* 中央寄せ */
    position: relative;
}
